@use '@/theme.scss' as *;

.gallery {
    --thumbnail-size: 10rem;
    --thumbnail-gap: 1rem;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--thumbnail-gap);
}

.gallery__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.gallery__main__image {
    background-image: var(--url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 1;
}

.gallery__carousel {
    display: flex;
    flex-direction: row;
    flex: 0 0 var(--thumbnail-size);
    gap: var(--thumbnail-gap);
    overflow-x: scroll;
}

.gallery__carousel__item {
    cursor: pointer;
    display: flex;
    flex: 0 0 var(--thumbnail-size);
    padding: .25rem;
    width: var(--thumbnail-size);

    &:hover {
        background: $hover-color;
    }
}


.gallery__carousel__item__image {
    background-image: var(--url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex: 0 0 var(--thumbnail-size);
    width: var(--thumbnail-size);
}
